/* shared styles for ISA Calculator and LoanCalculator */

/* contains calculator title and the display box */
.calculator {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 1rem 0rem;

  @media (min-width: 768px) {
    margin: 1rem 2rem;
  }
}

.calculator__box {
  align-items: center;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 95%;

  @media (min-width: 768px) {
    width: 500px;
  }
}

.calculator__container {
  padding: 1.75rem;

  @media (min-width: 768px) {
    padding: 2.5rem;
  }
}

.calculator__title {
  text-align: center;
  width: 100%;
}

.monthly-payment__container {
  font-size: 0.875rem;
  margin-top: 1rem;
  text-transform: capitalize;
}

.monthly-payment {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.2;
}
/* tablets & larger */
