.app__container {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.calculators__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/* This is the only way to get React Select inline*/
.react-select__inline-container {
  display: inline-block;
  padding-left: 0.5rem;
}

/* tablets & larger */
@media (min-width: 768px) {
  .app__container {
    width: 90%;
  }
  .calculators__container {
    flex-direction: row;
  }
}
