.app__container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  /* vertically center content on large screens */
  @media (min-width: 768px) {
    height: 100vh;
  }
}

.calculators__container {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.select-program__container {
  margin: 2rem 1rem 0;

  @media (min-width: 768px) {
    margin: 0;
  }
}

/* This is the only way to get React Select inline*/
.react-select__inline-container {
  display: inline-block;
  height: min-content;
  padding-left: 0.5rem;
}
