.calculators__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 95%;
}

/* This is the only way to get React Select inline*/
.react-select__inline-container {
  display: inline-block;
  padding-left: 0.5rem;
}

/* tablets & larger */
@media (min-width: 768px) {
  .calculators__container {
    flex-direction: row;
  }
}
